<a href="https://colab.research.google.com/github/Junse0/Private/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Syntax

for 같은 패턴을 여러번 반복

if ~할 때만 해라

In [17]:
a = [1, 2, 3, 4]                                                                # 리스트
for i in a:                                                                     # a(리스트)에 있는 것에서 제일 첫 번째 부터 끝까지 i라는 변수에 넣어라(리스트의 개수만큼 for loop가 돎)
    print(i) 

# a = [1, 2, 3, 4]
# print(a[0])
# print(a[1])
# print(a[2])
# print(a[3])

# 형식
# for   in  :
#   print

#indentation(들여쓰기)은 for 밑이라는 것을 표현

a = [1, 2, 3, 4]
for i in a:
  print(i) 
  print(i+1)                                                                    # 1 2 2 3 3 4 4 5

a = [1, 2, 3, 4]
for i in a:
  print(i)                                                                      # 1 2 3 4
print(i+1)                                                                      # 5

1
2
3
4
1
2
2
3
3
4
4
5
1
2
3
4
5

In [2]:
a = [1, 2, 3, 4]
for i in a :
  print(i)
  print('hello')

1
hello
2
hello
3
hello
4
hello

In [19]:
# a = [1, 2, 3, 4]
# for i in range(4):                                                            # 4개의 인덱스(0,1,2,3)가 만들어짐 (굳이 4를 넣은 이유는 a의 길이가 4이기 때문에)(range 3은 ok, 5는 error)
#     print(a[i])                                                               # a의 0번째, a의 1번째...

a = [1, 2, 3, 4]
for i in range(len(a)): #len(a)는 a의 길이를 출력
    print(a[i])

1
2
3
4

In [5]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [6]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):                                                         #len(a)는 a의 개수
    print(a[i])

red
green
blue
purple

In [7]:
a = 0
if a == 1:                                                                      # if, else 모두 : 으로 마무리   # '==' 같다
    print(a)                                                                    # if(else)도 마찬가지로 indentation(들여쓰기)한 부분까지 포함함
else:                                                                           # else는 굳이 없어도 됨
  print(a+1)

1

nested loop, nested for

In [8]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [9]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

list comprehension

In [10]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

In [11]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']